* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  background-color: #eee;
}
ul {
  margin: 0 2rem;
}


footer {
  text-align: center;
  margin: 0 auto;
  background-color: rgb(191, 191, 247);
  min-height: 7.5%;
  width: 100vw;
  font-size: 1.2rem;
  clear:both;
  position: relative;
  bottom: 0;
  padding: 0;
}
footer a{
  color: #9b4004;
  text-decoration: none;
}
footer a:hover{
  text-decoration: underline;
}
#footer{
  max-width: 85vw;
  margin: auto;
  text-align: center;
}
main {
  margin: 20px auto 20px auto;
  line-height: 1.5;
  text-align: center;
  min-height: 87.5vh;
  width: 65vw;
  font-size: 1.2rem;
  background-color: rgb(176, 217, 250);
  padding: 10px;
}
/* div {
  border: 1px solid blue;
} */
section {
  margin: 2rem 0;
  text-align: left;
}
.website_name {
  display: inline-block;
}
.surname {
  display: inline-block;
}
h1 {
  font-size: 1.7rem;
  max-width: 80%;
  margin: auto;  
  text-align: center;
}
h2 {
  text-align: left;
  font-size: 1.4rem;
}
@media screen and (max-width: 700px) {
  main {
    width: 92.5vw;
    background-color: rgb(176, 217, 250);
    padding: 10px;
  }  
}
