footer {
  text-align: center;
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  background-color: rgb(19, 20, 99);
  padding: 0.75rem 0;
  z-index: 1000;
  width: 100vw;
}
footer a{
  color: #ccc;
  text-decoration: none;
  font-size: 1.1rem;
}
