../* --- BASE STYLES --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  background-color: #eee;
  font-family: sans-serif; /* Recommended for readability */
}
/* --- CSS GRID FOR IMAGES --- */
main {
  padding: 1rem;
}

.gallery-wrapper {
  display: grid;
  /* Maintains my 2-column arrangement */
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  max-width: 90vw;
  margin: 0 auto;
}
.gallery-wrapper > *:last-child {
  /* Spans the item across both columns */
  grid-column: span 2;
  
  /* Prevents the item from stretching; keeps it at its original width */
  justify-self: center; 
  
  max-width: 50%; 
}

.pic img {
  width: 100%;
  height: auto;
  display: block;
}
@media screen and (max-width: 700px) {
  main {
    width: 92.5vw;
    margin: 0 auto;
    padding: 10px;
  } 
  .gallery-wrapper {
  /* Arrangement changes to a 1-column arrangement for mobile devices */
  grid-template-columns: 1fr;
  gap: 2vw;
  }
  .gallery-wrapper > *:last-child {
  max-width: 100%;
  grid-column: span 1;
  }
}
