/* --- FLEXBOX NAVIGATION --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: center;
  height: 14vw;
  width: 100vw;
  background-color: rgb(19, 20, 99);
  position: relative;
  top: 0;
  z-index: 1000;
}

nav ul {
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  list-style: none; /* Removes bullets */
  gap: 8vw;         /* Dynamic spacing between links */
}

nav a {
  color: #ccc;
  text-decoration: none;
  font-size: 1.1rem;
}

nav a:visited {
  color:#ccc;
}
@media screen and (max-width: 300px) {
  nav {
    flex-direction: column; /* Stack Nav items */
    gap: 0.5rem;
  }
}




