<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DanielDav-Emmanuel.com | About Daniel</title>
    <link rel="stylesheet" href="../css/about.css">
    <link rel="shortcut icon" href="../images/album.png" type="image/gif">
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="../index.html">Home</a> 
            </li>
            <li>
                <a href="./about.html">About</a>
            </li>
        </ul>
    </nav>
    <main>
        <br>
        <br>
        <h1>About Daniel Somtoochi <span class="surname">Dav-Emmanuel</span></h1>
        <br>
        <br>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam et minima hic aliquid. Ab facilis, odit veritatis corrupti itaque nesciunt distinctio autem blanditiis at laudantium corporis. Impedit non magnam provident cum molestias neque eum laborum maiores laudantium, id amet hic odio expedita, quam distinctio natus, suscipit quibusdam! Pariatur deleniti facere veritatis fugiat totam inventore reprehenderit excepturi omnis culpa et! Eos inventore quae eum blanditiis maiores repellendus amet, rem laudantium, ipsa praesentium necessitatibus aliquam. Nesciunt, illum expedita ex dolor sit at unde enim recusandae ipsam quod nisi sequi pariatur perferendis illo veniam numquam facilis, quibusdam incidunt doloremque repellat quos totam officia?</p>
        <br>
        <br>
        <h2>How I Got My First Job</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea explicabo earum et, ipsam libero maiores beatae neque doloribus commodi cupiditate?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis nesciunt fugiat eligendi pariatur odio sunt ipsum veniam officia deleniti quia.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam nostrum nulla odio incidunt magnam, qui a, porro at optio, ea omnis. Recusandae eius voluptatum nihil a culpa minus sed aspernatur alias ex enim sit impedit cupiditate sapiente ad nesciunt optio veritatis, dolorum quas doloribus, facilis doloremque maiores ab quasi veniam?</p>
        <br>
        <br>
        <h2>How I Handle Two Jobs at the Same time</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt atque incidunt, provident mollitia harum sapiente qui in optio fugiat omnis!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae corrupti deleniti totam amet voluptatem iste eos obcaecati alias necessitatibus fuga.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non, beatae ipsum! Neque nam possimus dicta laudantium molestias? Alias, necessitatibus eaque?</p>
        <br>
        <br>
    </main>
    <footer>
        <div id="footer">
            <p><a href="mailto:royalpriniel@gmail.com">royalpriniel@gmail.com</a></p>
            <p>&copy; Daniel Somtoochi Dav-Emmanuel 2024</p>
        </div>
    </footer>
</body>
</html>
